mixin SelectList(params)
    ul.select-list
        each val, index in params.options
            li._item
                input(type="checkbox" id=`${params.className}-${index}` name=`${params.className}-${index}`)._input&attributes(attributes)
                label(for=`${params.className}-${index}`)._label=val


mixin SelectListRadio(params)
    ul.select-list
        - var test = 0;
        if(params.options)
            each val, index in params.options
                 li._item
                     - var other = (val == 'Другое (описательно)' ? 'js-other' : '');
                     input(tabindex="8"
                         value=val
                         type=params.attributes['data-validate']
                         id=`${params.className}-${test}`
                         data-change-mask=params.attributes['data-select'] == 'js-advanced-select' ? index : false,
                         data-change-name=params.attributes['data-change-name'] ? params.attributes['data-change-name'] : false,
                         name=params.className
                         class=`${other} ${params.attributes['data-select']} js-select-${params.attributes['data-validate']}`)._input&attributes(params.optionsAttr ? params.optionsAttr[index] : '')
                     label(for=`${params.className}-${index}`)._label=val
                 - test = test + 1;

        if(params.options_)
            each val, index in params.options_
                 li._item
                     - var other = (val == 'Другие' || val == 'Другое' || val == 'Другое (описательно)' ? 'js-other' : '');
                     input(tabindex="8"
                         value=val.name
                         type=params.attributes['data-validate']
                         id=`${params.className}-${index}`
                         data-change-mask=val.attr
                         data-change-name=params.attributes['data-change-name'] ? params.attributes['data-change-name'] : false,
                         name=params.className
                         class=`${other} ${params.attributes['data-select']} js-select-${params.attributes['data-validate']}`)._input
                     label(for=`${params.className}-${index}`)._label=val.name
                 - test = test + 1;

